@charset "utf-8";
/*css document*/

body {
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        background-color: #a5b0d3;
        margin: 5px;
        padding: 20px;
        font-size:  20px; 
      }

.encabezado-contacto {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        margin-bottom: 40px;
        width: 100%;
        font-size: 18px;
        font-weight: bold;
        color: #313877;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
      }

.email {
        text-align: left;
      }
      
.instagram {
        text-align: center;
      }
      
.telefono {
        text-align: right;
      }

.nombre {
        font-size: 70px;
        font-weight:bolder;
        color: #313877;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-bottom: 0%;
      }
      
.profesion {
        font-size: 18px;
        color: #5a5a5a;
        margin-top: 5%;
        margin-bottom: 12%;
        border-bottom: 1px solid #ccc;
        
      }
.cvcontainer {
        max-width: 1000px;
        margin: 40px auto;
        background-color: white;
        padding:  90px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        display: flex;
        flex-direction: column;
      }

.principal {
        display: flex;
        flex-direction: row;
        gap: 40px;
        width: 100%;
      }

.derecha {
        width: 40%;
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;    
        margin-top: 30px;
      }
      
.izquierda {
        width: 60%;
        padding-right: 30px;
      }     

      
.titulos {
        font-size: 25px;
        color: #313877;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-bottom: 1%;
      }

.foto {
        text-align: center;
      }
        

.foto img {
        width: 300px;       
        height: auto;
        border-radius: 8px;
        display: block;
        margin: 0 auto;
      }

.sobre-mi {
        margin-top: 15px;
        font-size: 16px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #444;
        text-align:left;  
        max-width: 300px;
        margin: 0 auto;           
      }

ul {
        list-style: none;
        padding-left: 0;
      }


       