@charset "utf-8";
/*css document*/

body {
        font-family: 'Helvetica', sans-serif;
        background-color: #a5b0d3;
        margin: 5px;
        padding: 20px;
      }

.cvcontainer {
        display: flex;
        max-width: 1000px;
        margin-left: 50px ;
        background-color: white;
        padding: 100px;
      }

.derecha {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

.nombre {
        font-size: 50px;
        font-weight:bolder;
        color: #313877;
      }
      
.profesion {
        font-size: 18px;
        color: #5a5a5a;
      }
      
.titulos {
        font-size: 20px;
        color: #313877;
        padding-bottom: 5px;
      }

.foto img {
        width: 100%;
      }

.datos{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      }