@charset "utf-8";
/*css document*/
.nombre {
    font-size:40;
    color:antiquewhite
}
#cabecera {
    background-color: rosybrown;
    width:1200px;
    height: 400px;
}
header p {
    color:antiquewhite;
    font-size:  20px;
}